# Token de Produção ou Teste gerado no Mercado Pago Developers:
# https://www.mercadopago.com.br/developers/panel/app
MERCADO_PAGO_ACCESS_TOKEN=

# Valor mínimo em Reais para liberar a água (ex: 1.00 ou 0.50):
MINIMUM_AMOUNT=1.00

# Quantidade de pulsos no relé a enviar por acionamento (ex: 1, 2 ou 3):
PULSE_COUNT=2

# Duração do pulso em milissegundos (ex: 500 = meio segundo, 3000 = 3 segundos):
PULSE_DURATION_MS=1000

# Intervalo entre pulsos em milissegundos:
PULSE_INTERVAL_MS=500
